In [2]:
import pandas as pd
import numpy as np
import datetime as dt
df1 = pd.read_csv('Data/2009_output.csv')
df2 = pd.read_csv('Data/2010_output.csv')
df3 = pd.read_csv('Data/2011_output.csv')
df4 = pd.read_csv('Data/2012_output.csv')
df5 = pd.read_csv('Data/2013_output.csv')
df6 = pd.read_csv('Data/2014_output.csv')
df7 = pd.read_csv('Data/2015_output.csv')
df8 = pd.read_csv('Data/2016_output.csv')
df9 = pd.read_csv('Data/2017_output.csv')
df10 = pd.read_csv('Data/2018_output.csv')
df11 = pd.read_csv('Data/2019_output.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'newspaperdata/newsPaper/2010_output.csv'

In [10]:
final_df = df1.append(df2).append(df3).append(df4).append(df5).append(df6).append(df7).append(df8).append(df9).append(df10).append(df11)

In [11]:
final_df = final_df.replace('Loading', np.nan)
final_df = final_df.replace(np.nan, 0)

In [12]:
final_df.isnull().sum() # no null

Unnamed: 0                       0
Date                             0
climate change matches           0
corporate governance matches     0
ESG matches                      0
social responsibility matches    0
sustainability matches           0
dtype: int64

In [13]:
final_df = final_df.drop('Unnamed: 0',axis = 1).reset_index(drop = True)
final_df['Date'] = pd.to_datetime(final_df['Date'])

In [14]:
final_df.head()

,Date,climate change matches,corporate governance matches,ESG matches,social responsibility matches,sustainability matches
0,2009-01-01,168,8,7,141,34
1,2009-01-02,334,9,3,138,35
2,2009-01-03,311,8,4,168,50
3,2009-01-04,374,11,15,284,88
4,2009-01-05,147,7,4,92,39

In [15]:
final_df['WeekDate'] = final_df.apply(lambda row: row['Date'] - dt.timedelta(days=row['Date'].weekday()), axis=1)
final_df.drop('Date',axis = 1)

,climate change matches,corporate governance matches,ESG matches,social responsibility matches,sustainability matches,WeekDate
0,168,8,7,141,34,2008-12-29
1,334,9,3,138,35,2008-12-29
2,311,8,4,168,50,2008-12-29
3,374,11,15,284,88,2008-12-29
4,147,7,4,92,39,2009-01-05
...,...,...,...,...,...,...
4012,252,0,7,86,78,2019-12-23
4013,236,1,0,166,46,2019-12-23
4014,457,4,5,238,76,2019-12-23
4015,249,4,0,76,17,2019-12-30
4016,221,3,0,127,21,2019-12-30

In [16]:
final_df['climate change matches'] = final_df['climate change matches'].astype(float)
final_df['corporate governance matches'] = final_df['corporate governance matches'].astype(float)
final_df['ESG matches'] = final_df['ESG matches'].astype(float)
final_df['social responsibility matches'] = final_df['social responsibility matches'].astype(float)
final_df['sustainability matches'] = final_df['sustainability matches'].astype(float)

In [17]:
final_df

,Date,climate change matches,corporate governance matches,ESG matches,social responsibility matches,sustainability matches,WeekDate
0,2009-01-01,168.0,8.0,7.0,141.0,34.0,2008-12-29
1,2009-01-02,334.0,9.0,3.0,138.0,35.0,2008-12-29
2,2009-01-03,311.0,8.0,4.0,168.0,50.0,2008-12-29
3,2009-01-04,374.0,11.0,15.0,284.0,88.0,2008-12-29
4,2009-01-05,147.0,7.0,4.0,92.0,39.0,2009-01-05
...,...,...,...,...,...,...,...
4012,2019-12-27,252.0,0.0,7.0,86.0,78.0,2019-12-23
4013,2019-12-28,236.0,1.0,0.0,166.0,46.0,2019-12-23
4014,2019-12-29,457.0,4.0,5.0,238.0,76.0,2019-12-23
4015,2019-12-30,249.0,4.0,0.0,76.0,17.0,2019-12-30
4016,2019-12-31,221.0,3.0,0.0,127.0,21.0,2019-12-30

In [18]:
final_df.groupby('WeekDate').sum()

,climate change matches,corporate governance matches,ESG matches,social responsibility matches,sustainability matches
WeekDate,,,,,
2008-12-29,1187.0,36.0,29.0,731.0,207.0
2009-01-05,1772.0,123.0,42.0,1600.0,394.0
2009-01-12,2177.0,115.0,52.0,2025.0,563.0
2009-01-19,2075.0,91.0,37.0,1930.0,442.0
2009-01-26,2670.0,111.0,37.0,1813.0,413.0
...,...,...,...,...,...
2019-12-02,2696.0,38.0,43.0,639.0,425.0
2019-12-09,2382.0,60.0,28.0,646.0,325.0
2019-12-16,1928.0,31.0,40.0,701.0,255.0
2019-12-23,1806.0,17.0,22.0,872.0,263.0
2019-12-30,470.0,7.0,0.0,203.0,38.0

In [19]:
weekly_df = final_df.groupby('WeekDate').sum()

In [20]:
weekly_df.to_csv('Weekly_newspaper.csv')